.chat {
    display: flex;
    flex-direction: column;
    background-color: var(--background-primary);
    height: 100%;
    width: 80%;
}

.chat__body {
    height: 100%;
    display: flex;
}

.chat__messages__body {
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.chat__input {
    color: var(--header-secondary);
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 0 15px 25px 15px;
    border-radius: 10px;
    background-color: var(--text-area);
    position: relative;
}

.chat__input > input {   
    padding: 5px 15px;
    background-color: transparent;
    width: 100%;
    border: none;
    outline-width: 0;
    color: var(--text-normal);
    font-family: Whitney,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: large;
    outline: none;
    flex: 1;
}

.chat__input > .chat-icons{
    cursor: pointer;
}

.chat__input > .chat-icons:hover {
    color: var(--header-primary);
}

.chat__input > .emoji-picker{
    position: absolute;
    bottom: 55px;
}

.chat__messages {
    max-height: 30.9rem;
    overflow: auto;
}

/* width */
.chat__messages::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.chat__messages::-webkit-scrollbar-track {
    background: #26282c;
}

/* Handle */
.chat__messages::-webkit-scrollbar-thumb {
    background: #474b53;
    border-radius: 5px;
}

/* Handle on hover */
.chat__messages::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.channel__description {
    width: 25%;
    height: 100%;
    background-color: var(--background-secondary);
    padding: 20px;
    box-sizing: border-box;
    cursor: default;
}

.channel__title {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    color: var(--header-primary);
    width: 100%;
}

.channel__title > h3{
    color: var(--header-tertiary);
    font-size: 30px;
    margin-right: 10px;
}

.channel__title > .MuiSvgIcon-root {
    width: 30px;
    height: 30px;
    padding: 5px;
    margin-left: auto;
    color: var(--header-secondary);
    cursor: pointer;
}

.channel__title > .MuiSvgIcon-root:hover {
    color: var(--header-primary);
    border-radius: 50%;
}

.channel__users > .user {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.channel__users > .user > .MuiAvatar-root {
    background-color: #42464b;
    margin-right: 10px;
}

.channel__users > .user > span {
    color: var(--header-primary);
    font-weight: bolder;
}
