.message{
    display: flex;
    align-items: center;
    padding: 10px 20px;
    color: var(--header-primary);
}

.message:hover{
    background-color: rgba(47, 49, 54, 0.5);
}

.message > .MuiAvatar-root{
    background-color: #42464b;
}

.message__info{
    font-size: 16px;
    margin-left: 20px;
}

.message__info > h4{
    font-weight: 500;
    margin-bottom: 3px;
}

.message__info > p{
    color: var(--text-normal);
}

.message__timestamp{
    color: var(--text-muted);
    margin-left: 10px;
    font-size: 12px;
}