.message{
    display: flex;
    align-items: center;
    padding: 20px;
    color: var(--header-primary);
}

.message__info{
    margin-left: 20px;
}

.message__timestamp{
    color: var(--header-tertiary);
    margin-left: 20px;
    font-size: x-small;
}