.sidebarChannel{
    margin-bottom: 10px;
}

.sidebarChannel>div {
    display: flex;
    padding-left: 15px;
    align-items: center;
    color: var(--header-primary);
    cursor: pointer;
    font-weight: 600;
}

.sidebarChannel:hover>div {
    color: white;
    background-color: #40464b;
}

.sidebarChannel>div>h1{
    margin-right: 14px;
    color: var(--header-tertiary);
}   
